#checkbox{
    transform:scale(2);
    opacity:0.9;
    cursor:pointer;
}
.bi-pencil,.bi-trash{
    color: black;
    font-size: 22px;
}
.my-alert{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 30%;
    display: block;
}
.my-alert.hidden{
    display: none;
}
.my-alert>span{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
